| {% load static %}
doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Δиа Фильм²

        link(rel='icon', type='image/x-icon', href="{% static 'assets/favicon.ico' %}")

        include includes/css.pug

    body

        include includes/navbar.pug

        // Шапка Страницы
        header.masthead(style="background-image: url('/static/assets/img/bg-3.jpg')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-10.col-lg-8.col-xl-7
                        .site-heading
                            h1 Δиа Фильм²
                            span.subheading Советские диафильмы, теперь на Django!
                            a.btn.btn-dark.mt-4(href='{% url "post" %}') Случайный Диафилмьм

        // Основной Контент
        .container.px-4.px-lg-5
            .row.gx-4.gx-lg-5.justify-content-center
                .col-md-10.col-lg-8.col-xl-7
                    |{% for post in posts %}
                    // Превью поста
                    .post-preview
                        a(href='/post/{{ post.id }}/')
                            h2.post-title {{ post.name }}
                            h3.post-subtitle {{ post.description }}
                        p.post-meta
                            | № {{ post.id }}, Год {{ post.year }}
                    
                    // Разделитель
                    hr.my-4
                    |{% endfor %}

                    // Страничник
                    .d-flex.justify-content-end.mb-4
                        a.btn.btn-dark.text-uppercase(href='#!') Старые Записи →
        
        include includes/footer.pug

        include includes/scripts.pug
