| {% load static %}
doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Δиа Фильм² | {{ post.name }}

        link(rel='icon', type='image/x-icon', href="{% static 'assets/favicon.ico' %}")

        include includes/css.pug

    body

        include includes/navbar.pug

        // Шапка Страницы
        header.masthead(style="background-image: url('{{ post.cover.image.url }}')")
            .container.position-relative.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-11.col-lg-9.col-xl-8
                        .post-heading
                        
                            h1 {{ post.name }}
                            h2.subheading {{ post.description }}
                            span.meta
                                a(href='/post/{{ post.id }}/')
                                    | № {{ post.id }},
                                    | Год {{ post.year }}
        // Галерея
        .mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-11.col-lg-10.col-xl-9
                        #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                            .carousel-inner
                                |{% for frame in frames %}
                                |   {% if forloop.first %}
                                .carousel-item.active
                                    img.d-block.w-100(src='{{ frame.url }}' alt='Кадр №{{ frame.sequence }}')
                                |   {% else %}
                                .carousel-item
                                    img.d-block.w-100(src='{{ frame.url }}' alt='Кадр №{{ frame.sequence }}')
                                |   {% endif %}
                                |{% endfor %}
                            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                        span.caption.text-muted
                            | Используйте кнопку ◀ и ▶ для навигации по слайдам.
        // Контент Поста
        article.mb-4
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-md-11.col-lg-9.col-xl-8
                        .container
                            .row
                                .col
                                    p
                                        b
                                            | Название:
                                        i
                                            | «{{ post.name }}»
                                        br
                                        b
                                            | Студия:
                                        i
                                            | «{{ post.studio }}»
                                        br
                                        b
                                            | Год:
                                        i
                                            | «{{ post.year }}»
                                        br
                                        b
                                            | Кадров:
                                        i
                                            | {{ frames.count }}
                                        br
                                .col
                                    p
                                        b
                                            | Цвет:
                                        i
                                            | «{{ post.color }}»
                                        br
                                        b
                                            | Индекс:
                                        i
                                            | «{{ post.index }}»
                                        br
                                        b
                                            | Номер:
                                        i
                                            | «{{ post.number }}»
                                        br
                                        b
                                            | Плёнка:
                                        i
                                            | «{{ post.film }}»
                                        br
                                        b
                                            | Качество:
                                        i
                                            | «{{ post.quality }}»
                
                        //- h2.section-heading The Final Frontier
                        //- blockquote.blockquote
                        //-     | The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.
                        //- a(href='#!')
                        //-     img.img-fluid(src='assets/img/post-sample-image.jpg', alt='...')

        include includes/footer.pug

        include includes/scripts.pug