{% extends '../base.html' %}
{% block title %}
Δиа Фильм² | Группа «{{ group.name }}»
{% endblock %}
{% block content %}
{% load static %}
{% load cache %}
{% cache 6000 group_list_header group.name post_view %}
{% if page_obj.object_list.0.image %}
{% load thumbnail %}
{% thumbnail page_obj.object_list.0.image "600x200" crop="center" as im %}
<header
  class="masthead py-6"
  style="background-image: url('{{ im.url }}">
{% endthumbnail %}
{% else %}
<header
  class="masthead py-6"
  style="background-image: url('{% static 'img/bg/bg-4.jpg' %}')">
{% endif %}
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h2>Группа </h2>
          <h2><span class="highlight-text-color">«{{ group.name }}»</span></h2>
          <p>{{group.description}}</p>
          <span class="subheading"><b>Всего {% if post_view %}постов{% else %}диафильмов{% endif %}: {{ page_obj.paginator.count }}</b></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endcache %}
<!-- Основной Контент-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
  {% include 'includes/switcher.html' %}
  {% include 'includes/content-bar.html' %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3 mb-4">
  {% for post in page_obj %}
    {% include 'includes/post_card.html' %}
  {% endfor %}
  </div>
  {% if post_view %}
    {% include 'includes/paginator.html' with url_vars="&post_view=True" %}
  {% else %}
    {% include 'includes/paginator.html' %}
  {% endif %}
  </div>
</main>
{% endblock %}