{% extends '../base.html' %}
{% block title %}
Δиа Фильм² | {{ post.name }}
{% endblock %}
{% block content %}
{% load cache %}
{% cache 6000 article_image post.id post.modified_at following %}
{% if post.image %}
{% load thumbnail %}
{% thumbnail post.image "600x200" crop="center" as im %}
<header class="masthead py-6" style="background-image: url('{{ im.url }}')">
{% endthumbnail %}
{% else %}
<header class="masthead py-6" style="background-image: url('{{ post.cover.image.url }}')">
{% endif %}
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-9 col-xl-8">
        <div class="post-heading">
            <span class="meta">
              <h3 class="subheading mb-2"> Групп{%if post.groups.all.count > 1%}ы{% else %}а{% endif %}
              {% for cat in post.groups.all %}
                <a href="{% url "posts:group_list" group_slug=cat.slug %}{% if not frames %}?post_view=True{% endif %}" class="btn btn-dark btn-sm">
                <i class="bi bi-tag"></i> {{ group.name }}
                <i>{{ cat }}</i>
                </a>
              {% endfor %}
              </h3>
              {% comment %} {% if frames %}
              <a href='{% url "posts:diafilms_random" %}' class="btn btn-outline-dark btn-sm">
                Случайный Диафилмьм
              </a>
              {% endif %} {% endcomment %}
            </span>
            {% if frames %}<h1>«{{ post.name }}»</h1>{% endif %}
            <h2 class="subheading mb-3">
              <span class="highlight-text-color">
                <i class="bi bi-person-fill"></i> 
              </span>
              {{ post.author.username }}
              {% if post.author != user %}
                {% if following %}
                  <a href="{% url "posts:unfollow_user" username=post.author.username %}" class="btn btn-warning btn-sm" role="button">
                    Отписаться
                  </a>
                {% else %}
                  <a href="{% url "posts:follow_user" username=post.author.username %}" class="btn btn-success btn-sm" role="button">
                    Подписаться
                  </a>
                {% endif %}
              {% endif %}
              <a href="{% url "posts:profile" username=post.author.username %}" class="btn btn-secondary btn-sm">
                Посты автора
                <span class="badge">
                  {{ posts_by_user }}
                </span>
              </a>
            </h2>
            <h5><i class="bi bi-calendar-event"></i> {{ post.pub_date  }}</h5>
        </div>
      </div>
    </div>
  </div>
</header>
{% endcache %}
<main class="mb-4">
  {% if frames %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div
          class="carousel slide"
          id="carouselExampleControls"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            {% for frame in frames.all %} 
            {% if forloop.first %}
            <div class="carousel-item active">
              <img
                class="d-block w-100"
                src="{{ frame.url }}"
                alt="Кадр №{{ frame.sequence }}"
              />
            </div>
            {% else %}
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="{{ frame.url }}"
                alt="Кадр №{{ frame.sequence }}"
              />
            </div>
            {% endif %} 
            {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <span class="caption text-muted">
          Используйте кнопку ◀ и ▶ для навигации по слайдам.
        </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-11 col-lg-9">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>
                {% for tag in post.tags.all %}
                  <span class="highlight-text-color">
                    <i class="bi bi-tag"></i>
                  </span>
                  <b> {{ tag.category }}:</b>
                  {% comment %} <a href="{% url "posts:tag_list" tag_categeory_slug=tag.category.slug tag_slug=tag.slug %}"> {% endcomment %}
                  <a href="/tag/{{tag.category.slug}}/{{tag.slug}}/">
                  <i>{{ tag.name }}</i>
                  </a>
                  <br />
                {% endfor %}
              </p>
            </div>
            <div class="col">
              <p>
                <b>Студия:</b>
                <i>«{{ post.studio }}»</i>
                <br />
                <b>Название:</b>
                <i>«{{ post.name }}»</i>
                <br />
                <b>Год:</b>
                {{ post.year }}
                <br />
                <b>Кадров:</b>
                <i>{{ frames.count }}</i>
                <br />
                <b>Индекс:</b>
                {{ post.index }}
                <br />
                <b>Номер:</b>
                {{ post.number }}
                <br />
                <b>Цвет:</b>
                {{ post.color }}
                <br />
                <b>Качество:</b>
                {{ post.quality }}
                <br />
                <b>Плёнка:</b>
                {{ post.film }}
                <br />
                <b>Тип Плёнки:</b>
                {{ post.film_type }}
                <br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-8">
        {{ post.text|linebreaksbr }}
        {% if is_edit %}
        <div class="d-flex justify-content-end">
          <!-- эта кнопка видна только автору -->
          <a class="btn btn-sm btn-info mx-1" href="{% url "posts:post_edit" post_id=post.id %}">
            <i class="bi bi-pencil"></i> Редактировать
          </a>
          <a class="btn btn-sm btn-danger mx-1" href="{% url "posts:post_delete" post_id=post.id %}">
            <i class="bi bi-trash"></i> Удалить
          </a>
        </div>
        {% endif %}
        {% cache 600 comments post.comments.all.count %}
          {% include 'includes/comments.html' %}
        {% endcache %}
        {% cache 6000 comment_form post.id %}
          {% include 'includes/comment_form.html' %}
        {% endcache %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
