{% extends '../base.html' %}
{% block title %}
Δиа Фильм² | {% if category %}Тэги с категорией {{ category.name }}{% else %}Тэги всех категорией{% endif %}
{% endblock %}
{% block content %}
{% load static %}
{% load cache %}
{% cache 6000 tag_category_list_header category %}
<header
  class="masthead py-6"
  style="background-image: url('{% static 'img/bg/bg-4.jpg' %}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          {% if category %}
          <h2>Тэги с категорией </h2>
          <span class="highlight-text-color"><h1>«{{ category.name }}»</h1></span>
          {% else %}
          <h1>Тэги всех категорией</h1>
          {% endif %}
          <span class="subheading"><b>Всего тэгов: {{ page_obj.paginator.count }}</b></span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endcache %}
<!-- Основной Контент-->
<main class="mb-4"> 
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-11 col-xl-9">
        <div class="mb-4"> 
          <a class="btn btn-sm btn{% if category.slug %}-outline-{% else %}-{% endif %}primary" href=".">Все</a>
          {% for cat in tag_categories %}
          <span>
          <a class="btn btn-sm btn{% if category.slug == cat.slug %}-{% else %}-outline-{% endif %}secondary" href="?category={{ cat.slug }}">{{ cat.name }}</a>
          </span>
          {% endfor %}
        </div>
        {% include 'includes/content-bar.html' %}
        <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 g-2 my-4">
          {% for tag in page_obj %}
            <div class="col">
              <a href="/tag/{{tag.category.slug}}/{{tag.slug}}/">
                <span class="highlight-text-color">
                  <i class="bi bi-tag"></i>
                </span> {{ tag.name }}
              </a>
            </div>
          {% endfor %}
          </ul>
        </div>
        {% include 'includes/paginator.html' %}
      </div>
    </div>
  </div>
</main>
{% endblock %}