<!-- нет черты после последнего поста -->
<!-- если записей больше 10 подключён паджинатор -->
{% if page_obj.has_other_pages %}
<nav class="my-5">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1{{ url_vars }}">Первая</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}{{ url_vars }}"><</a>
    </li>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active">
        <span class="page-link">{{ i }}</span>
      </li>
      {% elif i|add:"3" > page_obj.number and i|add:"-3" < page_obj.number  %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}{{ url_vars }}">{{ i }}</a>
      </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}{{ url_vars }}">
      >
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{{ url_vars }}">
      Последняя
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %} 