<div class="card">
  <div class="card-header">{{ form_tile|default:"Форма поста" }}</div>
    <div class="card-body">
      {% if post.id %}
      <form method="post" action="{% url "posts:post_edit" post_id=post.id %}" enctype="multipart/form-data">
      {% else %}
      <form method="post" action="{% url "posts:post_create" %}" enctype="multipart/form-data">
      {% endif %}
      {% csrf_token %}
      <div class="form-group row my-3 p-3">
        <label for="id_text">
          Текст поста
          <span class="required text-danger">*</span>
        </label>
        {{ form.text }}
        <small id="id_text-help" class="form-text text-muted">
          {{ form.text.help_text }}
        </small>
      </div>
      <div class="form-group row my-3 p-3">
        <label for="id_group"> Группа </label>
        {{ form.group }}
        <small id="id_group-help" class="form-text text-muted">
          {{ form.group.help_text }}
        </small>
      </div>
      <div class="form-group row my-3 p-3">
        <label for="id_image"> Изображение </label>
        {{ form.image }}
        <small id="id_image-help" class="form-text text-muted">
          {{ form.image.help_text }}
        </small>
      </div>
      {% include "includes/form_errors.html" %}
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
    </form>
  </div>
</div>
