<div class="row my-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link {% if index %}active{% endif %}"
        href="{% url 'posts:index' %}"
      >
        <i class="bi bi-files"></i> Все Записи
      </a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a
        class="nav-link {% if following %}active{% endif %}"
        href="{% url 'posts:follow_list' %}"
      >
        <i class="bi bi-broadcast"></i> Подписки
      </a>
    </li>
    {% endif %}
    <li class="nav-item">
      <div class="btn-group btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <a class="btn btn{% if post_view %}-outline-{% else %}-{% endif %}primary" href=".">
          <i class="bi bi-film"></i> Диафильмы
        </a>
        <a class="btn btn{% if post_view %}-{% else %}-outline-{% endif %}primary" href="?post_view=True">
          <i class="bi bi-file-post"></i> Посты
        </a>
      </div>
    </li>
  </ul>
</div>