{% extends '../base.html' %}
{% block title %}
Зарегистрироваться
{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Зарегистрироваться</div>
        <div class="card-body">
          <form method="post" action="{% url "users:signup" %}">
            {% csrf_token %}
            <div class="form-group row my-3 p-3">
              <label for="id_first_name">Имя</label>
              {{ form.first_name }}
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_last_name">Фамилия</label>
              {{ form.last_name }}
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_username">
                Имя пользователя
                <span class="required text-danger">*</span>
              </label>
              {{ form.username }}
              <small
                id="id_username-help"
                class="form-text text-muted"
              >
                Обязательное поле. Не более 150 символов. Только
                буквы, цифры и символы @/./+/-/_.
              </small>
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_email"
                >Адрес электронной почты</label
              >
              {{ form.email }}
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_password1">
                Пароль
                <span class="required text-danger">*</span>
              </label>
              {{ form.password1 }}
              <small
                id="id_password1-help"
                class="form-text text-muted"
              >
                <ul>
                  <li>
                    Ваш пароль не должен совпадать с вашим
                    именем или другой персональной
                    информацией или быть слишком похожим на
                    неё.
                  </li>
                  <li>
                    Ваш пароль должен содержать как минимум
                    8 символов.
                  </li>
                  <li>
                    Ваш пароль не может быть одним из широко
                    распространённых паролей.
                  </li>
                  <li>
                    Ваш пароль не может состоять только из
                    цифр.
                  </li>
                </ul>
              </small>
            </div>
            <div class="form-group row my-3 p-3">
              <label for="id_password2">
                Подтверждение пароля
                <span class="required text-danger">*</span>
              </label>
              {{ form.password2 }}
              <small
                id="id_password2-help"
                class="form-text text-muted"
              >
                Для подтверждения введите, пожалуйста, пароль
                ещё раз.
              </small>
            </div>
            {% include "includes/form_errors.html" %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Зарегистрироваться
              </button>
            </div>
          </form>
        </div>
        <!-- card body -->
      </div>
      <!-- card -->
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
{% endblock %}
