{% extends '../base.html' %}
{% block title %}
Δиа Фильм² | О проекте
{% endblock%}
{% load static %}
{% load cache %}
{% block content %}
{% cache 6000 author %}
<!-- Шапка Страницы-->
<header
  class="masthead py-6"
  style="background-image: url('{% static 'img/bg/bg-4.jpg' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>О проекте</h1>
          <h2><span class="highlight-text-color">Δиа</span> Фильм²</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Основной Контент-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          «<span class="highlight-text-color">Δиа</span>
          <span style="color: black">Фильм²</span>» –
          проект, который разрабатывался для курса
          <a href="https://praktikum.yandex.ru/">Яндекс Практикум</a>
          . Не исключено, что проект получит дальнейшее внимание и его
          развитие продолжится. На данный момент проект будет сохранен
          в том виде, в котором он сейчас находится.
        </p>
        <p>
          Контент был взят с сайта
          <a href="https://diafilmy.su/">Diafilmy.su</a>
          и сформирован с использованием различных скриптов, код
          которых <a href="https://github.com/mbrav/diafilm2">доступен здесь</a>. Сам проект «Δиа Фильм²» не связан
          никаким-либо образом с «Diafilmy.su». Используемая тема:
          <a
            href="https://github.com/StartBootstrap/startbootstrap-clean-blog"
            >Start Bootstrap - Clean Blog</a
          >
          .
        </p>
      </div>
    </div>
  </div>
</main>
{% endcache %}
{% endblock %}
