{% extends '../base.html' %}
{% block title %}
Δиа Фильм² | Технологии
{% endblock %}
{% load static %}
{% load cache %}
{% block content %}
{% cache 6000 tech %}
<!-- Шапка Страницы-->
<header
  class="masthead py-6"
  style="background-image: url('{% static 'img/bg/bg-2.jpg' %}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Контакт</h1>
          <span class="subheading">Есть Вопросы? Свяжитесь!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Основной Контент-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Хотите с нами связаться? Заполните форму ниже, чтобы
          отправить мне сообщение, и я свяжусь с вами как можно
          скорее!
        </p>
        <div class="my-5">
          <form method="post">
            {% csrf_token %}
            <div class="form-floating">
              {{ form.name }}
              <label for="id_name">{{ form.name.label }}</label>
            </div>
            <div class="form-floating">
              {{ form.email }}
              <label for="id_email">{{ form.email.label }}</label>
            </div>
            <div class="form-floating">
              {{ form.subject }}
              <label for="id_subject">{{ form.subject.label }}</label>
            </div>
            <div class="form-floating">
              {{ form.message }}
              <label for="id_message">{{ form.message.label }}</label>
            </div>
            {% include "includes/form_errors.html" %}
            <br/>
            <button type="submit" class="btn btn-primary text-uppercase">
              Отправить
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endcache %}  
{% endblock %}
