{% extends './base.html' %}{% block title %}Δиа Фильм² |
Контакт{% endblock %}
{% block content %}
<!-- Шапка Страницы-->
<header
  class="masthead"
  style="background-image: url('/static/assets/img/bg-2.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Контакт</h1>
          <span class="subheading">Есть Вопросы? Свяжитесь!</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Основной Контент-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Хотите с нами связаться? Заполните форму ниже, чтобы
          отправить мне сообщение, и я свяжусь с вами как можно
          скорее!
        </p>
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * SB Forms Contact Form * *-->
          <!-- * * * * * * * * * * * * * * *-->
          <!-- This form is pre-integrated with SB Forms.-->
          <!-- To make this form functional, sign up at-->
          <!-- https://startbootstrap.com/solution/contact-forms-->
          <!-- to get an API token!-->
          <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="form-floating">
              <input
                class="form-control"
                id="name"
                type="text"
                placeholder="Enter your name..."
                data-sb-validations="required"
              />
              <label for="name">Имя</label>
              <div
                class="invalid-feedback"
                data-sb-feedback="name:required"
              >
                Требуется имя.
              </div>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="email"
                type="email"
                placeholder="Enter your email..."
                data-sb-validations="required,email"
              />
              <label for="email">Адресс почты</label>
              <div
                class="invalid-feedback"
                data-sb-feedback="email:required"
              >
                Необходимо указать адрес электронной почты.
              </div>
              <div
                class="invalid-feedback"
                data-sb-feedback="email:email"
              >
                Email не является допустимым.
              </div>
            </div>
            <div class="form-floating">
              <input
                class="form-control"
                id="phone"
                type="tel"
                placeholder="Enter your phone number..."
                data-sb-validations="required"
              />
              <label for="phone">Телефон</label>
              <div
                class="invalid-feedback"
                data-sb-feedback="phone:required"
              >
                Номер телефона обязателен.
              </div>
            </div>
            <div class="form-floating">
              <textarea
                class="form-control"
                id="message"
                placeholder="Enter your message here..."
                style="height: 12rem"
                data-sb-validations="required"
              ></textarea>
              <label for="message">Сообщение</label>
              <div
                class="invalid-feedback"
                data-sb-feedback="message:required"
              >
                Требуется сообщение.
              </div>
            </div>
            <br />
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">
                  Форма отправлена ​​успешно!
                </div>
                Чтобы активировать эту форму, зарегистрируйтесь
                на
                <br />
                <a
                  href="https://startbootstrap.com/solution/contact-forms"
                  >https://startbootstrap.com/solution/contact-forms</a
                >
              </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">
                Ошибка отправки сообщения!
              </div>
            </div>
            <!-- Submit Button-->
            <button
              class="btn btn-primary text-uppercase disabled"
              id="submitButton"
              type="submit"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}