{% load static %}

{% if post %}
<meta property="og:title" content="post.name" />
<meta name="author" content="{{ post.author.username }}" />
<meta name="keywords" content="{% for tag in post.tags.all %}{{ tag.name }}, {% endfor %}">
<meta name="description" property="og:description" content="{{ post.text|truncatewords:100 }}" />
{% else %}
<meta name="description" property="og:description" content="6233 советскиx диафильмов, теперь на Django! " />
{% endif %}

{% if post.cover %}
<meta property="og:image" content="{{ post.cover.image.url }}" />
{% else %}
<meta property="og:image" content="{% static 'img/bg/bg-2.jpg' %}" />
{% endif %}