{% extends './base.html' %}{% block title %}Δиа Фильм²{% endblock %}
{% block content %}
<!-- Шапка Страницы-->
<header
  class="masthead"
  style="background-image: url('{{ post.cover.image.url }}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-8">
        <div class="post-heading">
          <h1>{{ post.name }}</h1>
          <h2 class="subheading">{{ post.description }}</h2>
          <span class="meta"
            ><a href="/post/{{ post.id }}/"
              >№ {{ post.id }}, Год {{ post.year }}</a
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Галерея-->
<div class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-11 col-lg-10 col-xl-9">
        <div
          class="carousel slide"
          id="carouselExampleControls"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            {% for frame in frames %} {% if forloop.first %}
            <div class="carousel-item active">
              <img
                class="d-block w-100"
                src="{{ frame.url }}"
                alt="Кадр №{{ frame.sequence }}"
              />
            </div>
            {% else %}
            <div class="carousel-item">
              <img
                class="d-block w-100"
                src="{{ frame.url }}"
                alt="Кадр №{{ frame.sequence }}"
              />
            </div>
            {% endif %} {% endfor %}
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span
              class="carousel-control-prev-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span
              class="carousel-control-next-icon"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <span class="caption text-muted"
          >Используйте кнопку ◀ и ▶ для навигации по слайдам.</span
        >
      </div>
    </div>
  </div>
</div>
<!-- Контент Поста-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-11 col-lg-9 col-xl-8">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>
                <b>Название:</b>
                <i>«{{ post.name }}»</i>
                <br />
                <b>Студия:</b>
                <i>«{{ post.studio }}»</i>
                <br />
                <b>Год:</b>
                <i>«{{ post.year }}»</i>
                <br />
                <b>Кадров:</b>
                <i>{{ frames.count }}</i>
                <br />
              </p>
            </div>
            <div class="col">
              <p>
                <b>Цвет:</b>
                <i>«{{ post.color }}»</i>
                <br />
                <b>Индекс:</b>
                <i>«{{ post.index }}»</i>
                <br />
                <b>Номер:</b>
                <i>«{{ post.number }}»</i>
                <br />
                <b>Плёнка:</b>
                <i>«{{ post.film }}»</i>
                <br />
                <b>Качество:</b>
                <i>«{{ post.quality }}»</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock %}